<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>extra work</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
    <div class="header">
        <div class="img" alt=""></div>
        <div class="head">
            ELUDE<br>
            <div class="head-1">
                Event Management for <br>Corporate Brand
            </div><br>
            <div id="head-2">
                INTRODUCTION:<br>
                ELUDE is an event management business specilizing<br>
                in organizing unforgettable corporate event elevant<br>
                brand image ans foster meaningful connection.
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-1">
            <p>PROBLEM STATEMENT :</p><br>
            <div class="main-2">
                The lack of professional event management service for large<br>
                corporate brands hinders their ability to create impactful and<br>
                memorable events that alignalign with their stratagic goals
            </div>
        </div>
        <div class="main-3">
            <p>SOLUTION :</p><br>
            <div class="main-4">
                ELUDE offers a comprehansive event management solution<br>
                providing end-to-end planning,execution and planning<br>
                analysis ensuring seamless and successful corporate event.
            </div>
        </div>
    </div>
    <div class="abc">
        <div class="abc-1">
            TARGET AUDIENCE/CUSTOMER:<br>
        </div>
        <div class="ab">
            Target segment:
        </div>
        <div class="abc-2">
            Large corporate brands across industries
        </div>
        <div class="char">
            Characteristics:
        </div>
        <div class="seek">
            seeking expert eventorganizer to elevent
        </div>
        <div class="brand">
            brand reputation and enhance stackholder engagement.
        </div>
        <div class="pain">
            Pain points:
        </div>
        <div class="limit">
            Limited in-house resource for event planning
        </div>
        <div class="and">
            and execution,desire for exceptional guest experiences.
        </div>

        <div class="abc-3">
            MARKET ANALYSIS:
        </div>
        <div class="img-1"></div>
        <div class="abc-4">
            Corporate event industry experiencing 15%<br>
            year-on-year growth.
        </div>
        <div class="img-2"></div>
        <div class="abc-5">
            increase in the trend of large brands seeking<br>
            professional event management services for<br>
            enhanced brand presence.
        </div>
        <div class="value">
            VALUE PROPOSITIN:
        </div>
        <div class="elude">
            ELUDE
        </div>
        <div class="stand">
            stands out by delivering exceptional event experiences
        </div>
        <div class="cus">
            customized to reflect the brand identity,resulting in elevated
        </div>
        <div class="br">
            brand recognition,increased stackholder satisfaction,and
        </div>
        <div class="po">
            positive ROI.
        </div>
        <div class="com">
            COMPETITIVE ANALYSIS:
        </div>
        <div class="per">
            Personalized experiences:
        </div>
        <div class="tai">
            Tailored event that resonate

        </div>
        <div class="with">
            with the brand's vision and values.
        </div>
        <div class="expert">
            Expert Vendor Management:
        </div>
        <div class="strong">
            Strong network of trusted

        </div>
        <div class="sup">
            suppliers,ensuring top-notch services.
        </div>
        <div class="post">
            Post-Event Analytics:
        </div>
        <div class="comp">
            Comprehansive analysis to measure

        </div>
        <div class="event">
            event success and inform future strategies.
        </div>
    </div>
    <div class="footer">
        <div class="rev">
            REVENUE MODEL:
        </div>
        <div class="event-1">
            Event Planning & Execusion Packages:
        </div>
        <div class="pric">
            pricing based on
        </div>
        <div class="scale">
            event scale and complexity.
        </div>
        <div class="add">
            Additional Revenue Sources:
        </div>
        <div class="spon">
            Sponsorship agreement,
        </div>
        <div class="rel">
            event-related merchandise,and venue partnerships.
        </div>
        <div class="core">
            CORE TEAM:
        </div>
        <div class="img-3"></div>
        <div class="john">
            John Smith
        </div>
        <div class="fou">
            Founder & CEO
        </div>
        <div class="img-4"></div>
        <div class="jane">
            Jane Adams
        </div>
        <div class="die">
            Director of Event Operations
        </div>
        <div class="img-5"></div>
        <div class="michale">
            Michale Lee
        </div>
        <div class="Head">
            Head of Marketing
        </div>
        <div class="img-6"></div>
        <div class="sarah">
            Sarah Johnson
        </div>
        <div class="cre">
            Creative Director
        </div>
        <div class="fin">
            FINANCIAL PROJECTIONS:
        </div>
        <div class="img-7"></div>
    </div>
    <div class="footer-1">
        <div class="we">
            We potencial investors and stackholder to join us in shapping unforgettable<br>
            corporate events that leave lasting impressions.Let's partner for success and<br>
            redefine corporate experiences together.
        </div>
        <div class="www">
            www.yourWebsite.com
        </div>
        <div class="supp">
            support@elude.com
        </div>
        <div class="last">
            234-098-7890
        </div>
    </div>
</body>

</html>